$f: 'Freight';

.career-page {
    font-family: $f;

    h3.aboutusHead,
    p.careerInfo,
    .careersInfo .careerslftInfo p,
    .careersInfo .careerslftInfo span,
    .careersInfo .careerslftInfo a.btnapply,
    p.ContTitle,
    .ContactUsForm form input.form-control {
        font-family: $f !important;
    }
    p.careerInfo{
        text-align: left;
        font-size: 18px;
    }
}

.flex{
    display: flex;
    flex-flow: row wrap;
}

.ser-content{
    padding: 15px 0;
    p{
        font-size: 14px;
        font-weight: 700;
        margin-top: 5px;
    }
}