$f: 'Freight';

.career-page {
    font-family: $f;

    h3.aboutusHead,
    p.careerInfo,
    .careersInfo .careerslftInfo p,
    .careersInfo .careerslftInfo span,
    .careersInfo .careerslftInfo a.btnapply,
    p.ContTitle,
    .ContactUsForm form input.form-control {
        font-family: $f !important;
    }

    p.careerInfo,
    p {
        text-align: left;
        font-size: 16px;
    }
}



.ContactUsForm form input.form-control {
    height: 40px;
    padding: 0 20px;
}

.ContactUsForm form span.focus-border {
    padding: 0;
}
