.career-page {
  font-family: "Freight";
}
.career-page h3.aboutusHead,
.career-page p.careerInfo,
.career-page .careersInfo .careerslftInfo p,
.career-page .careersInfo .careerslftInfo span,
.career-page .careersInfo .careerslftInfo a.btnapply,
.career-page p.ContTitle,
.career-page .ContactUsForm form input.form-control {
  font-family: "Freight" !important;
}
.career-page p.careerInfo {
  text-align: left;
  font-size: 18px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.ser-content {
  padding: 15px 0;
}
.ser-content p {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}
