.career-page {
  font-family: "Freight";
}
.career-page h3.aboutusHead,
.career-page p.careerInfo,
.career-page .careersInfo .careerslftInfo p,
.career-page .careersInfo .careerslftInfo span,
.career-page .careersInfo .careerslftInfo a.btnapply,
.career-page p.ContTitle,
.career-page .ContactUsForm form input.form-control {
  font-family: "Freight" !important;
}
.career-page p.careerInfo {
  text-align: left;
  font-size: 18px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.ser-content {
  padding: 15px 0;
}
.ser-content p {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.areasofoperation p.operation > a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  color: #b0b0b0;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font: 14px/16px 'robotomedium';
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #b0b0b0;
}
.areasofoperation p.operation > a:hover {
  background: #a6cf39;
  color: #fff;
  border-color: #a6cf39;
}
.areasofoperation p.operation > a:before {
  display: none;
}
